.Pokedex-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Pokedex-heading{
    text-align: center;
}

.Pokegame-heading{
    text-align: center;
}

.Pokedex-exp{
    text-align: center;  
}

.Pokedex-winner{
    color: #4caf50;
    text-align: center;
}

.Pokedex-loser{
    color: #e91e63;
    text-align: center;
}